<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/style.css">
    <title>Le super blog de la piscine</title>
</head>
<body>
<header>
    <nav>
        <ul class="flex">
            <li><a href="">Logo</a></li>
            <li><a href="http://localhost/piscine_blog_php/public/">Acceuil</a></li>
            <li><a href=""></a>Connection</li>
            <li><a href=""></a>Inscription</li>
        </ul>
    </nav>
</header>

{% block content %}

{% endblock %}

<aside>

</aside>


<footer class="flex">
    <nav >
        <ul>
            <li>CONTACT</li>
            <li><a href=""></a>insta</li>
            <li><a href=""></a>face</li>
            <li class="border_end" ><a href=""></a>twitter</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>AIDE & CONSEIL</li>
            <li>Lorem ipsum </li>
            <li>Lorem ipsum</li>
            <li class="border_end">Lorem ipsum</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>NOS ANNONCE</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li class="border_end">Lorem ipsum</li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li>A PROPOS</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
        </ul>
    </nav>
</footer>
</body>